* {
  padding: 0;
  margin: 0;
  font: inherit;
  box-sizing: border-box;
  list-style: none;

  &:focus {
    outline: none;
    box-shadow: 0 0 1px 1px $main-decorate;
  }
}

*::before,
*::after {
  box-sizing: inherit;
}

svg {
  fill: currentColor;
}

html,
body {
  font-size: 100%;
  font-family: Helvetica, Arial, sans-serif;
}
