// colors

$green: #3eaf7c;
$red: #b21313;
$green-weakest: rgba(62, 175, 124, 0.1);
$white: #ffffff;
$black: #000000;

$main-decorate: $green;
$success: $green;
$fail: $red;
$text: $black;
$main-decorate-weakest: $green-weakest;
