.header {
  position: fixed;
  z-index: 1;
  width: 100%;
  padding: 15px 0;
  background-color: $white;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.25);

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    .logo__image {
      transition: width 0.3s ease-out;
    }
  }

  &--sticky {

    .logo {
      align-items: center;
      column-gap: 4px;
    }

    .logo__image {
      width: 16px;
    }
  }
}
